.container {
  text-align: center;
  place-items: center;
  display: grid;
  gap: 20px;
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  max-width: var(--max-width-container);
  border-radius: var(--standard-border-radius);
}

.image {
  width: 100%;
  display: block;
  border-radius: var(--standard-border-radius);
}

.navArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navArrow:first-of-type {
  left: 10px;
}

.navArrow:last-of-type {
  right: 10px;
}

.title {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-dark-color);
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.infoButton {
  border: 2px solid var(--bg-theme-dark);
  background-color: var(--bg-theme-dark);
  color: var(--text-white-color);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.infoButton:hover {
  background-color: var(--bg-white-color);
  color: var(--bg-theme-dark);
}

.checkoutButton {
  margin: 20px auto;
  background-color: var(--bg-white-color);
  color: var(--text-theme-color);
  font-family: var(--font-sour-gummy);
  align-self: flex-end;
  font-weight: bold;
  border-radius: 25px;
  padding: 5px 30px;
  cursor: pointer;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .image,
  .imageWrapper {
    border-radius: 0px;
  }
  .buttonGroup {
    justify-content: flex-start;
    gap: 10px;
    padding: 0px var(--standard-padding);
  }
}
