.blogTopicsContainer {
  max-width: var(--max-width-container);
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blogTopic {
  width: fit-content;
  padding: 5px 20px;
  text-align: center;
  background-color: var(--bg-theme-dark);
  color: var(--text-white-color);
  cursor: pointer;
  border: 2px solid var(--bg-theme-dark);
  border-radius: var(--standard-border-radius);
}
.blogTopic:hover {
  background-color: var(--bg-white-color);
  color: var(--text-theme-color);
  text-align: center;
  padding: 5px 20px;
}

@media (max-width: 576px) {
  .blogTopicsContainer {
    padding: 0px var(--standard-padding);
  }
}
