.sectionHeadingContainer {
  position: relative;
}

.sectionHeading {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: var(--text-light-color);
  font-family: var(--font-sour-gummy);
}

.sectionHeadingImage {
  z-index: -1;
  height: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -15px;
}

@media (max-width: 768px) {
  .sectionHeading {
    font-size: 30px;
  }
  .sectionHeadingImage {
    bottom: -10px;
  }
}
