.servicesWrapper {
  background-color: var(--bg-section-color);
  padding: 2rem;
  overflow-x: hidden;
}
.servicesContainer {
  max-width: var(--max-width-container);
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 50px;
}
