.compareWrapper {
  background-color: var(--bg-section-color);
  padding: 50px 0;
}
.compareContainer {
  max-width: var(--max-width-container);
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 50px 20px;
}
@media (max-width: 1230px) {
  .compareContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 940px) {
  .compareContainer {
    grid-template-columns: 1fr;
  }
}
