.compareWrapper {
  background-color: var(--bg-section-color);
  padding: 50px 0;
  overflow: hidden;
}
.compareContainer {
  max-width: var(--max-width-container);
  margin: 0px auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  width: 95%;
}
@media (max-width: 576px) {
  .compareContainer {
    width: 95%;
  }
}
