.sectionHeadPara {
  margin: 0px auto;
  font-weight: 500;
  max-width: 900px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: var(--text-light-color);
}

@media (max-width: 550px) {
  .sectionHeadPara {
    width: 90%;
    line-height: 30px;
  }
}
