.treatmentCardContainer {
  max-width: var(--max-width-container);
  margin: 0px auto;
  padding: 40px 0;
  display: flex;
  place-content: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  gap: 25px;
}
