.appointmentFormContainer {
}
.formInputContainer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.formInput {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: var(--text-dark-color);
  cursor: pointer;
  background-color: rgb(218, 215, 215);
}
.formSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 500;
  color: var(--text-dark-color);
}

.bookButton {
  background-color: var(--bg-theme-dark);
  color: var(--text-white-color);
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 576px) {
  .appointmentFormContainer {
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .form {
    width: fit-content;
  }
  .formInputContainer {
    padding: 20px var(--standard-padding);
    justify-content: flex-start;
  }
}
