.formInputContainer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.formInput {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: var(--text-dark-color);
  cursor: pointer;
  background-color: rgb(218, 215, 215);
  width: 250px;
}
.formSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 500;
  color: var(--text-dark-color);
}

.bookButton {
  background-color: var(--bg-theme-dark);
  color: var(--text-white-color);
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 250px;
}

@media (max-width: 576px) {
  .appointmentFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    width: fit-content;
  }
  .formInputContainer {
    padding: 20px var(--standard-padding);
    justify-content: center;
  }
}

/*----------------new changes here----------------*/
.form {
  background: var(--bg-primary-color);
  border-radius: var(--standard-border-radius2);
}
.formBg {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.formInputModal {
  border-radius: var(--standard-border-radius2);
  background-color: rgb(218, 215, 215);
  color: var(--text-dark-color);
  width: 100% !important;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.formInputModal:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--text-light-color);
}
.option {
  background: var(--bg-primary-color);
  color: var(--text-light-color);
}

.formTextArea {
  height: 130px;
}

.formButton {
  border-radius: var(--standard-border-radius2);
  border: 2px solid var(--bg-theme-color);
  background: var(--bg-theme-color);
  color: var(--text-white-color);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.formButton:hover {
  background: var(--text-white-color);
  color: var(--bg-theme-color);
}
