.homeCardContainer {
  margin: 0px auto;
  max-width: var(--max-width-container);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.homeCard {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: var(--standard-border-radius);
  width: 400px;
  aspect-ratio: 2/1;
}

.homeCardImage {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.homeCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.homeCardTitle {
  position: absolute;
  color: var(--text-white-color);
  text-align: center;
  width: 80%;
  font-size: 30px;
  font-weight: 700;
  pointer-events: none;
  z-index: 3;
}

.homeCard:nth-child(1)::before {
  background: rgba(123, 170, 191, 0.3); /* Red */
  background: linear-gradient(
    to top,
    rgba(80, 132, 154, 1),
    rgba(125, 172, 192, 0.3)
  );
}

.homeCard:nth-child(2)::before {
  background: rgba(233, 131, 155, 0.3); /* Green */
  background: linear-gradient(
    to top,
    rgba(165, 72, 90, 1),
    rgba(231, 131, 156, 0.3)
  );
}

.homeCard:nth-child(3)::before {
  background: rgba(120, 100, 187, 0.3);
  background: linear-gradient(
    to top,
    rgba(122, 100, 191, 1),
    rgba(127, 119, 173, 0.3)
  );
}

@media (max-width: 1300px) {
  .homeCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .homeCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 500px) {
  .homeCard {
    width: 300px;
  }
  .homeCardTitle {
    width: 90%;
    font-size: 24px;
  }
}
