.experienceWrapper {
  width: 100%;
  padding: 3rem 0px;
}

.experienceContainer {
  max-width: var(--max-width-container);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.phoneContainer,
.tabContainer {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.phoneContainer {
  z-index: 2;
  position: absolute;
  /* background-image: url("/images/phone-frame.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -10%;
  left: 15%;
  width: 16%;
  aspect-ratio: 1080 / 1920;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.phoneFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  /* object-fit: contain; */
  z-index: 2;
  pointer-events: none;
}
.phoneVideo {
  z-index: 1;
  position: absolute;
  /* border: 2px solid red; */
  /* top: 1%; */
  /* left: 9%; */
  width: 99%;
  /* height: 97.9%; */
  /* object-fit: cover; */
  border-radius: 20px;
}

.tabContainer {
  z-index: 2;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -10%;
  right: 15%;
  width: 40%;
  aspect-ratio: 1920 / 1080;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.tabFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}
.tabVideo {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 14.5%;
  width: 72%;
  height: 75%;
  object-fit: cover;
}
@media (max-width: 576px) {
  .phoneContainer {
    left: 0%;
    width: 25%;
  }
  .tabContainer {
    right: 2%;
    width: 50%;
  }
}
