.treatmentCard {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  min-width: 300px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.imageContainer {
  display: flex;
}
.cardImage {
  width: 100%;
  height: 100%;
  border-radius: var(--standard-border-radius);
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
  /* wrap text on third lie */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating,
.customers {
  font-weight: bold;
  font-size: 16px;
}

.stars {
  font-size: 14px;
  color: #ffc107;
}

.label {
  font-size: 12px;
  color: #666;
}

.button {
  background-color: var(--bg-theme-dark);
  color: var(--text-white-color);
  padding: 12px 24px;
  border-radius: var(--standard-border-radius);
  font-weight: bold;
  display: block;
}
