.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
}
/*
.logoContainer {
} 
*/
.logo {
  margin-left: 10px;
}
.logoheight {
  height: 100px;
}

.headerLinksContainer {
  display: flex;
  gap: 30px;
}

.headerLink {
  font-size: 24px;
  transition: color 0.3s ease;
}
.headerSubLinksContainer {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--text-light-color);
  border-radius: var(--standard-border-radius);
  font-size: 16px;
  max-width: 1100px;
  z-index: 999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 4), 1fr));
  gap: 20px 20px;
  opacity: 1;
  pointer-events: all;
}

.headerSubLink {
  font-size: 18px;
  font-weight: 500;
  width: max-content;
}
.headerSubLink:hover {
  color: var(--text-theme-color);
}
.linkActive {
  font-weight: 600;
  color: var(--text-theme-color);
}

.offerStripContainer {
  border-radius: 5px;
  display: grid;
  padding: 5px 5px;
  margin-right: 50px;
  background-color: var(--bg-theme-color);
}
.fitContent {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.offerStripContact {
  color: var(--text-white-color);
}
.borderBottom {
  border-bottom: 1px solid var(--text-light-color);
}

.offerStripCta {
  padding: 2px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--font-sour-gummy);
  background-color: var(--bg-primary-color);
  cursor: pointer;
}

.offerStrip {
  order: 2;
}

.hamburgerContainer {
  display: none;
}

@media (max-width: 1370px) {
  .offerStripCta {
    padding: 2px 5px;
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .logoheight {
    height: 90px;
  }
  .headerContainer {
    gap: 0px;
  }
  .headerLinksContainer {
    gap: 15px;
  }
  .headerLink {
    font-size: 16px;
    transition: color 0.3s ease;
  }
  .headerSubLinksContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

/* phone view starts here */
@media (max-width: 1100px) {
  .headerContainer {
    justify-content: space-between;
  }
  .hamburgerContainer {
    display: flex;
    margin-right: 30px;
  }
  .headerContainer {
    border-bottom: 1px solid var(--text-light-color);
    padding-bottom: 7px;
    position: relative;
  }
  .hamburger {
    margin-left: 10px;
    height: 45px;
  }
  .headerLinksContainer {
    order: 1;
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    gap: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 11;
  }
  .headerSubLinksContainer {
    max-height: 300px;
    overflow-y: scroll;
    position: relative;
  }
  .open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .headerLink {
    width: 100%;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 10px 20px;
    border-bottom: 1px solid var(--text-dark-color);
  }

  .logoContainer {
    order: 2;
  }

  .offerStripContainer {
    order: 3;
    margin-right: 10px;
  }

  .headerSubLinksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
  }

  /* .mainLinkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    border: 3px solid red;
  } */
  /* starts */
  .mainLinkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .linkTextWrapper {
    display: flex;
    align-items: center; /* Align text vertically */
    justify-content: center; /* Ensure the text is centered horizontally */
    text-align: center; /* Keep text alignment centered */
  }

  .subMenuToggle {
    margin-left: 10px; /* Adds a small gap between text and button */
    background: none;
    border: none;
    cursor: pointer; /* Ensures it looks like a clickable button */
  }

  /* ends */
  .headerSubLink {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .headerLink {
    font-size: 14px;
    transition: color 0.3s ease;
    padding: 10px 20px;
    width: 100%;
  }
  .logoheight {
    height: 80px;
  }
  .hamburger {
    margin-left: 5px;
    height: 40px;
  }
  .offerStripContact {
    font-size: 14px;
  }
  .offerStripCta {
    padding: 0;
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .headerSubLinksContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .logo {
    margin-left: 0px;
  }
  .logoheight {
    height: 60px;
  }
  .hamburgerContainer {
    margin-right: 0px;
  }
  .hamburger {
    margin-left: 5px;
    height: 35px;
  }
  .offerStripContact {
    font-size: 12px;
  }
  .offerStripCta {
    padding: 0;
    font-size: 8px;
  }
}
