.homeContainer {
  display: grid;
  gap: 20px;
}
.homeImage {
  width: 100%;
}

.celebrityImage {
  margin: 0px auto;
}

/* heart card starts */
.reelCardContainer {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #eeeeee;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}
/* heart card ends */

/* Experience video section starts */
.videoContainer {
  max-width: 900px;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: -1;
  margin: auto;
  border-radius: var(--standard-border-radius);
}

.video {
  border-radius: var(--standard-border-radius);
  margin: auto;
  aspect-ratio: 16/9;
}
/* video ends */
/* Compare Slider */

.compareSliderContainer {
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  background: url("/images/bg.png");

  gap: 20px;
}
/* price table starts here */

/* faq section / Form section  */
.servicesContainer {
  display: grid;
  margin: 0px auto;
  max-width: var(--max-width-container);
  grid-template-columns: 300px 1fr 1fr;
  gap: 0px 20px;
  padding: 5px 0px;
}
.serviesLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px auto;
  overflow-y: auto;
  width: 100%;
  max-height: 500px;
}
.serviceLink {
  cursor: pointer;
  padding: 5px 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: var(--standard-border-radius2);
  border: 1px solid var(--text-light-color);
  color: var(--text-light-color);
}
.serviceLink:hover {
  background: var(--bg-theme-color);
  color: var(--text-white-color);
  border: 1px solid var(--bg-theme-color);
}
.serviceLinkActive {
  background: var(--bg-theme-color);
  color: var(--text-white-color);
  border: 1px solid var(--bg-theme-color);
}
/* form section */
