.footerWrapper {
  background-color: var(--bg-theme-color);
  color: var(--text-white-color);
  padding-top: 20px;
}

.footerContent {
  margin: 0px auto;
  max-width: var(--max-width-container);
}

.footerMain {
  gap: 50px;
  display: grid;
  grid-template-columns: 380px 1fr;
}
.footerForm {
  position: relative;
  bottom: 0.1rem;
  left: -0.5rem;
  scale: 1.1;
  margin-bottom: 1rem;
}
/* .footer {
} */
.contentSection {
  display: grid;
  grid-template-columns: 100px 1.2fr 0.8fr;
  gap: 30px;
  padding: 16px 5px;
}
/* .menuSection {

} */

.heading {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-white-color);
}

.menuList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  height: 85%;
  flex-direction: column;
  justify-content: space-around;
}

/* .menuItem {
} */

.followSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.iconWrapper {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--text-white-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0px;
}

.icon {
  color: var(--text-white-color);
}

.iconWrapper:hover {
  background-color: var(--text-white-color);
  color: var(--bg-theme-color);
  transition: all 0.1s ease-in-out;
}

.iconWrapper:hover .icon {
  color: var(--bg-theme-color);
}

.subHeading {
  font-size: 1.125rem; /* text-lg */
  font-weight: 600; /* font-semibold */
}
.address {
  font-size: 12px;
}

.instagramGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.instagramImageWrapper {
  position: relative;
  width: 100%;
  background-color: #e5e7eb; /* bg-gray-200 */
}

.instagramImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagramOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.instagramIcon {
  width: 1.5rem; /* w-6 */
  height: 1.5rem; /* h-6 */
}

.tagsWrapper {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary-color);
  color: var(--text-dark-color);

  padding: 5px 30px;
  border-radius: 30px;
}

.footerBottomBar {
  background-color: var(--bg-theme-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .footerMain {
    grid-template-columns: 1fr;
  }
  .footerForm {
    position: relative;
    bottom: 0rem;
    left: 0rem;
    scale: 1;
    margin-bottom: 0rem;
  }
  .footerForm,
  .footer {
    width: 90%;
    margin: 0px auto;
  }
  .tagsWrapper {
    padding-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .contentSection {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .instagramGrid {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}
@media (max-width: 400px) {
  .contentSection {
    grid-template-columns: 1fr;
  }
}
