.reelWrapper {
  background-color: var(--bg-section-color);
  padding: 20px 0px;
  overflow: hidden;
  max-width: var(--max-width-container);
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.reelContainer {
  max-width: var(--max-width-container);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
}
.button {
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  font-size: 14px;
  padding: 10px;
  font-weight: 200;
  background-color: var(--bg-theme-color);
  color: var(--text-white-color);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: var(--bg-theme-dark);
}
.button:active {
  transform: scale(0.99);
}

.gtIcon {
  color: var(--text-white-color);
  font-size: 24px;
}
.next,
.prev {
  top: 50%;
  font-size: 50px;
  cursor: pointer;
  transform: translateY(-50%);
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.reelContainer > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

@media (max-width: 1200px) {
  .reelContainer {
    justify-content: flex-start;
    gap: 30px;
  }
}
